/* .Popover {
    position: relative;
}

.PopoverTrigger {
    display: inline-block;
}

.PopoverContent {
    position: absolute;
    width: 80%;
    background-color: #ffff;
    border: 1px solid #cccccc;
    padding: 10px;
}

.text-sm {
    font-size: 14px;
}

.text-muted-foreground {
    color: #999999;
} */